<div class="container-fluid">
    <div class="row">
        <div class="col-md -12">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Github-Search</h4>
                <p>The Github Serach Apllication allows a user to enter a github username submit it and view details of the user's public repositories including names and description. A user can also search a repository and view its details </p>
                <hr>
              </div>
        </div>
    </div>
</div>
